<h1>Admin Dashboard</h1>

<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Count</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Products</th>
      <td><%= @product_count %></td>
      <td> <%= link_to 'Products',  [:admin, :products] %></td>
    </tr>
    <tr>
      <th scope="row">Categories</th>
      <td><%= @category_count %></td>
      <td> <%= link_to 'Products',  [:admin, :products] %></td>
    </tr>
  </tbody>
</table>
